<%-include('../partials/navbar.ejs')%>
<%-include('../partials/header.ejs')%>

<div class="container crt mt-2 mb-2">
    
    <h1 class="text-center">My Cart</h1>
    <div class="row">
        <%let totalCost = 0;let name="";let price=0%>
        <div class="col-lg-6">
            <%for(let item of user.cart){%>
                <div class="card mx-auto mb-2">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="<%=item.img%>" alt="item" class="img-fluid " style="height: 150px;width: 100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-tittle">
                                    <%=item.name%>
                                </h5>
                                <%totalCost+=item.price; %>
                                <h6 class="font-weight-light">Price: &#8377; <%=item.price%></h6>
                                <form action="/cart/<%=item.id%>/remove?_method=DELETE" method="post">
                                    <button class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="col-lg-6">
                <ul class="class-list">
                    <%for(let item of user.cart){%>
                    <li class="list-item"><p><%=item.name%> : &#8377; <%=item.price%></p></li>
                    <%}%>
                    <li class="total"><strong>Total:<u> &#8377; <%=totalCost%></u></strong></li>
                    <a><button class="btn btn-sm btn-outline-success">Buy Now</button></a>
                    
                </ul>
            </div>
    </div>
</div>


<%-include('../partials/footer.ejs')%>